.modalWrap {
}

.button {
	margin: 0.5rem;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 2rem;
	cursor: pointer;
}

.button:hover {
	transition: all ease 0.1s;
	transform: scale(1.02);
}
