/*yellow button*/
.yellowBtn{
    background-color: #D1A200;
    color: white;
    border-radius: 8px;
    margin: auto;
}
/*darkYellow button*/
.dYellowBtn{
    background-color: #896A01;
    color: white;
    border-radius: 8px;
    margin: auto;
}
/*black button*/
.blackBtn{
    background-color: #333;
    color: white;
    border-radius: 50px;
    margin: auto;
}
.modal {
    width: 300px;
    height: 240px;
}
.react-calendar__navigation button:enabled {
    background-color: #F2C016;
}
/*달력 년월표시*/
.react-calendar__navigation__label > span {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}
/*오늘 날짜*/
.react-calendar__tile--now {
    background: #333;
    color: white;
    border-radius: 12px;
}
/*날짜 선택됐을 때 타일 색*/
.react-calendar__tile--active {
    background: #F2C016 !important;
    color: black !important;
    /*font-size: 5px;*/
    border-radius: 50% !important;
}
/*범위 선택시 start, end, hover middle */
/* .react-calendar--selectRange { 
    border: '1px solid #F2C016';
    border-radius: 50% ;
    background-color: white;
} */
/* .react-calendar__tile--rangeStart{
    border: '1px solid #F2C016';
    border-radius: 50% ;
    background-color: white;

}
.react-calendar__tile--rangeEnd {
    border: '1px solid #F2C016';
    border-radius: 50% ;
    background-color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
    border: '1px solid #F2C016';
    background-color: white;
} */
.dot {
    background-color: #f87171;
    border-radius: 50%;
    display: flex;
    margin-left: 1px;
}