.formWrap {
	width: 100%;
}

.message {
	color: var(--color-button-yellow);
}

.inputWrap {
}

.input {
	width: 90%;
	padding: none;
	border: none;
}

.selectBox {
	width: 90%;
	padding: 0 2px;
}

.button {
	background-color: var(--color-button-yellow);
}
