@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

:root {
	--color-background-black: #111111;
	--color-yellow: #fbcd31;
}

html {
	font-size: 62.5%;
	font-family: 'Pretendard Variable', Pretendard, -apple-system,
		BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
		'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
}
